
ul > ul{
	list-style-type: circle;
	list-style-position: inside;
}

ol{
	list-style-type: lower-latin;
}

.menu{
	width: 100%;
	background: #ccc;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li{
	display: inline-block;
}

.menu li a{
	padding: 10px 20px;
	display: inline-block;
}

.menu li a:hover{
	background: pink;
	color: #000;
}